* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;   
    /*padding: 10px;*/
    background-color: #04473e;
  }
  
  /*THIS IS WHEERE ASDASDASd Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    top: 0;
    position:sticky;
    overflow: hidden;
    background-color: #04473e;
    z-index: 100;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #1d574f;
    color: white;
  }

  .searcharea {
    padding-top: 7px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    width:420px;
    float: left;
    display: inline;
  }

  .searchbox{
    width:400px;
    background:#27756b;
    color: white;
    padding:5px;
    outline:none;
    border-radius: 15px/15px;
}

.button{
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #147064;  
    color: #fff;
    border: none;
    border-radius: 5px;
  }

	.button:hover,
	.button:focus {
    background-color: #1d574f;
    color: white;
  }
  
  
  
  
  
  	
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 63%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 37%;
    background-color: #04473e;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }



  /*Password checking related code*/

.input {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.label {
  width: 30%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}


.textField{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    padding: 5px 15px;
    outline: none;
    border-radius: 5px;
    color: #04473e;
    padding-right: 45px;
}

.textField::placeholder{
    color: #04473e;
}

.textField:focus{
    box-shadow: 0 0 0 3px #04473e;
}

.password-input{
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  padding: 5px 15px;
  outline: none;
  border-radius: 5px;
  color: #04473e;
  padding-right: 45px;
}

.password-input::placeholder{
  color: #04473e;
}

.password-input:focus{
  box-shadow: 0 0 0 3px #04473e;
}


.show-password{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #04473e;
}


.password-checklist{
    z-index: 100;
    position: absolute;
    top: calc(100% + 10px);
    width: 100%;
    padding: 20px 30px;
    background: #065f53;
    border-radius: 5px;

    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: .5s ease;
}

.checklist-title{
    font-size: 15px;
    color: #021815;
    margin-bottom: 10px;
}

.checklist{
    list-style: none;
}

.list-item{
    padding-left: 30px;
    color: #fff;
    font-size: 14px;
}

.list-item::before{
    content: '\f00d';
    font-family: FontAwesome;
    display: inline-block;
    margin: 8px 0;
    margin-left: -30px;
    width: 20px;
    font-size: 12px;
}

.list-item.checked{
    opacity: 0.5;
}

.list-item.checked::before{
    content: '\f00c';
    color: #ffffff;
}


.password-input:focus ~ .password-checklist{
    opacity: 1;
    transform: translateY(0);
}


/*Registration form specific styling*/
.choice {
  width: 100%;
  margin: 10px 0px; 
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.user-type-btn {
  font-size: larger;
  flex-basis: 48%;
  height: 45px  ;
  padding: 10px 2px;
  border: none;
  cursor: pointer;
  text-align:center;
}

#studentBtn {
  color: white;
  background-color: #04473e; /* Green */
}

#mentorBtn {
  color: #04473e;
  background-color: white; /* Blue */
}

.form-section {
  display: none;
}

.show-form {
  display: block;
}



/*Comment section styling*/

.comment {
  margin-bottom: 2%;
  padding: 2%;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #04473e;
  position: relative;
}

.comment-header {
  font-size: 1em;
  font-weight: bold;
  color: white;
  margin-bottom: 0.2em;
  display: flex;
  align-items: center;
}

.user-image img {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  border-radius: 50%;
  margin-right: 0.5em;
}

.comment-body {
  font-size: 0.9em;
  color: white;
  margin-bottom: 0.5em;
}

.comment-footer {
  margin-top: 0.5em;
  font-size: 0.8em;
  color: #888;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-btns {
  display: flex;
  gap: 0.5em;
}

.like-btn,
.dislike-btn {
  cursor: pointer;
  font-size: 1em;
  color: #888;
}

.like-btn.active,
.dislike-btn.active {
  color: #3498db;
}
.comment-form{
  margin-top: 10%;
  margin-bottom: 2%;
  position: relative;
}
.comment-form textarea {
  width: 100%;
  padding: 0.5em;
  font-size: 1.1em;
  margin-top: 0.7em;   
  margin-bottom: 0.5em;   
  resize: none;
  color: #04473e;

}

@media screen and (max-width: 600px) {

  .comment {
      padding: 5%;
  }
}




/*Profile related style*/

.profile-container {
  width: 100%;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2%;
  border-radius: 10px;
}

.profile-container h2{
  text-align: center;
  color: #04473e;
}

.profile-header {
  text-align: center;
}

.profile-image img {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-username {
  font-size: 1.5em;
  font-weight: bold;
  color: #04473e;
  margin-bottom: 10px;
}

.profile-bio {
  font-size: 1em;
  color: #05554a;
  text-align: center;
  margin-bottom: 20px;
}

.profile-section {
  margin-top: 20px;
}

.profile-details {
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
  color: #05554a;
}

.detail-item {
  text-align: center;
}
.detail-item-header{
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .profile-container {
      width: 90%;
  }
}